.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 999; 
}

.add-task-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.add-task-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.add-task-container input {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 16px 0;
}

.close-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close-button button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    background: transparent;
}

.close-button button:hover {
    background-color: #ebebeb;
}

.add-task-container input[type="submit"] {
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ebebeb;
    cursor: pointer;
}

.add-task-container input[type="submit"]:hover {
    background-color: #a3a3a3c7;
}
