.new-task-button button{
    border: 2px dashed;
    background-color: transparent;
    padding: 8px 18px;
    width: 80vw; 
    max-width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 50px;
  }
  .new-task-button button:hover{
    background-color: #f9f9f9;
    opacity: 1;
  }